  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, button {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
  }
  
  *,*::before,*::after{
    box-sizing: border-box;
  }
  
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  
    @media(max-width: 1280px){
    header{
        top: 1%;
    }
    
    header .main-nav{
      width:50%;
      font-size: 1.5rem;
      justify-content: center;
     }
  
    header .logo img{
        width:180px;
     }
  
     .container1{
        max-width:100%;
        height: 90vh;
        padding: 20px 0;
      }
  
    .container1 #btn{
      width: 30%;
      top:68%;
    }
  
    .container2{
        max-width:100%;
        height: 70vh;
        padding: 20px 0;
      }
  
    .container2 #bg_deco{
      width:20%;
      right: 0;
      top: 15%;
    }
    
    .container2 .section2{
      height: auto;
      max-width: 100%;
      top: 15%;
    }
    
    .container2 .section2 .frame{
      max-width: 100%;
      right: 3%;
    }
    
    .container2 .section2 iframe{
      padding-left: 30px;
      height: 50%;
      max-width: 40%;
    }
    
    .container2 .section2 .frame .introduction{
      Width: auto;
      font-size: 16px;
      font-weight:bold;
      text-align: center;
      line-height: 1;
    }
  
    .container3{
      width:100%;
      height: 85vh;
      padding: 20px 0;
    }
  
    .container3 #intro_deco{
      width:20%;
      right: 0;
      top: 15%;
    }
    
    .container3 .section3{
      height: auto;
      max-width: 100%;
      top: 25%;
    }
    
    .container3 .section3 img:hover{
      transform:scale(1,1);
    }
  
    .container4{
      width:100%;
      height: 85vh;
      padding: 20px 0;
    }
  
    .container4 #group_deco{
      width:20%;
      right: 0;
      top: 10%;
    }
    
    .container4 .section4{
      height: auto;
      max-width: 90%;
      left: 3.5%;
      top: 25%;
    }
  
  }

  @media(max-width: 1280px){
    header{
        top: 1%;
    }
    
    header .main-nav{
      width:50%;
      font-size: 1.5rem;
      justify-content: center;
     }
  
    header .logo img{
        width:180px;
     }
  
     .container1{
        max-width:100%;
        height: 90vh;
        padding: 20px 0;
      }
  
    .container1 #btn{
      width: 30%;
      top:68%;
    }
  
    .container2{
        max-width:100%;
        height: 70vh;
        padding: 20px 0;
      }
  
    .container2 #bg_deco{
      width:20%;
      right: 0;
      top: 15%;
    }
    
    .container2 .section2{
      height: auto;
      max-width: 100%;
      top: 15%;
    }
    
    .container2 .section2 .frame{
      max-width: 100%;
      right: 3%;
    }
    
    .container2 .section2 iframe{
      padding-left: 30px;
      height: 50%;
      max-width: 40%;
    }
    
    .container2 .section2 .frame .introduction{
      Width: auto;
      font-size: 16px;
      font-weight:bold;
      text-align: center;
      line-height: 1;
    }
  
    .container3{
      width:100%;
      height: 85vh;
      padding: 20px 0;
    }
  
    .container3 #intro_deco{
      width:20%;
      right: 0;
      top: 15%;
    }
    
    .container3 .section3{
      height: auto;
      max-width: 100%;
      top: 25%;
    }
    
    .container3 .section3 img:hover{
      transform:scale(1,1);
    }
  
    .container4{
      width:100%;
      height: 85vh;
      padding: 20px 0;
    }
  
    .container4 #group_deco{
      width:20%;
      right: 0;
      top: 10%;
    }
    
    .container4 .section4{
      height: auto;
      max-width: 90%;
      left: 3.5%;
      top: 25%;
    }
  
  }
  
  @media(max-width: 768px){
    header{
        top: 1%;
    }
    
    header .main-nav{
      width:50%;
      font-size: 0.001rem;
      justify-content: space-around;
     }

    header .logo img{
        width:100px;
     }

     .container1{
        max-width:100%;
        height: 45vh;
        padding: 20px 0;
      }
  
    .container1 #btn{
      width: 40%;
      top:68%;
    }
  
    .container2{
        max-width:100%;
        height: 30vh;
        padding: 20px 0;
      }
  
    .container2 #bg_deco{
      width:20%;
      right: 0;
      top: 5%;
    }
    
    .container2 .section2{
      height: auto;
      max-width: 100%;
      top: 5%;
    }
    
    .container2 .section2 .frame{
      max-width: 100%;
      right: 3%;
    }
    
    .container2 .section2 iframe{
      padding-left: 30px;
      height: auto;
      max-width: 40%;
    }
    
    .container2 .section2 .frame .introduction{
      Width: auto;
      font-size: 0.000001px;
      font-weight:bold;
      text-align: center;
      line-height: 1;
    }
  
    .container3{
      width:100%;
      height: 30vh;
      padding: 20px 0;
    }
  
    .container3 #intro_deco{
      width:20%;
      right: 0;
      top: 0;
    }
    
    .container3 .section3{
      height: auto;
      max-width: 100%;
    }
    
    .container3 .section3 img:hover{
      transform:scale(1,1);
    }
  
    .container4{
      width:100%;
      height: 50vh;
      padding: 20px 0;
    }
  
    .container4 #group_deco{
      width:20%;
      right: 0;
      top: 10%;
    }
    
    .container4 .section4{
      height: auto;
      max-width: 90%;
      left: 3.5%;
      top: 25%;
    }
  
}


