@font-face {
  font-family: 莫大毛筆細;
  src: url("webfont/Bakudai-Light.woff");
}
@font-face {
  font-family: 莫大毛筆粗;
  src: url("webfont/Bakudai-Medium.woff");
}

*{
    margin:0;
    padding:0;
    list-style:none;/* 移除項目符號 */
    font-family: 莫大毛筆細;
}
html{
  scroll-behavior: smooth;
}
body{
   background-image:url("banner_background.png"); /* 我的背景是長的如果需要短的在叫黃筱晴拆一下 */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    max-width:100vw;
    min-height: 100%;
    overflow-x: hidden;
    cursor: url("cursor.png"),auto;
    scroll-behavior: smooth;
    line-height: 1;
}
a:hover{cursor:url("cursor1.png"),auto;}

img {
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*,*::before,*::after{
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* 網頁捲軸【寬度】 */
::-webkit-scrollbar {
    max-width: 10px;
  }
  
  /* 網頁捲軸【背景】顏色 */
  ::-webkit-scrollbar-track {
    background: #2D2924;
  }
  
  /* 網頁捲軸【把手】顏色 */
  ::-webkit-scrollbar-thumb {
    background: #F4EADE;
  }
  
  /* 網頁捲軸【滑過時】把手的顏色 */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  
header{
    position: fixed;/*固定頁首*/
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;/*圖層在最前面*/
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    overflow: hidden;
    float:none;
    margin: 0 auto;
}

header .logo{
    top: 0;
    left: 0;
}

header .logo img{
    width:200px;
    vertical-align:middle;
}
header .main-nav{
    font-size: 25px;
    font-family: 莫大毛筆粗;
    justify-content: center;
    align-items: center;
    top: 0;
    display: flex;
}
header .main-nav a{
    text-decoration:none;/* 移除超連結底線 */
    font-family: 莫大毛筆粗;
    color: #fff;
    padding: 0.8em;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
}
header .main-nav a:hover{
    transform: translateY(-5px);
    color:  #FFDB99;;
}
header .main-nav a:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #F4EADE;
    transition: .3px;
} /*出現一條槓槓*/
header .main-nav a:hover:after{
    left:0;
    right:0;
}







/* 下雪動畫 */
.snow_blow {
    position: absolute;
    top:0;
    width: 100%;
    height: 90%;
    overflow:hidden;
    z-index:10;
  }

  .blow{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    transform:translateZ(0);
  }
  .blow li{
    position:absolute;
    list-style:none;
    display:block;
    bottom:-100px; 
    animation:snow-ani 20s linear infinite;
    border-radius:100%;
  } 
  .blow li:before {
      position: absolute;
      background: white;
      left: 20%;
      top: 21%;
      width: 25%;
      content: '';
      height: 25%;
      border-radius: 100%;
  }
  .blow li:nth-child(1){
    width:20px;
    height:20px;
    left:15%;
    animation-duration:13s;
    animation-delay:3.2s;
  }
  .blow li:nth-child(2){
    width:40px;
    height:40px;
    left:40%;
    animation-duration:12s;
    animation-delay:3.7s;
  }
  .blow li:nth-child(3){
    width:25px;
    height:25px;
    left:30%;
    animation-duration:18s;
    animation-delay:3.5s;
  }
  .blow li:nth-child(4){
    width:20px;
    height:20px;
    left:35%;
    animation-duration:16s;
    animation-delay:2.3s;
  }
  .blow li:nth-child(5){
    width:40px;
    height:40px;
    left:80%;
    animation-duration:23s;
    animation-delay:1.7s;
  }
  .blow li:nth-child(6){
    width:20px;
    height:20px;
    left:10%;
    animation-duration:18s;
    animation-delay:3s;
  }
  .blow li:nth-child(7){
    width:50px;
    height:50px;
    left:95%;
    animation-duration:16s;
    animation-delay:2s;
  }
  .blow li:nth-child(8){
    width:30px;
    height:30px;
    left:70%;
    animation-duration:13s;
    animation-delay:1.5s;
  }
  .blow li:nth-child(9){
    width:60px;
    height:60px;
    left:55%;
    animation-duration:23s;
    animation-delay:1.3s;
  }
  
  @keyframes snow-ani {
    0%{
      -webkit-transform:translateY(-1080px);
      transform:translateY(-1080px);
    }
    100%{
      -webkit-transform:translateY(-0);
      transform:translateY(0);
    }
  }
