  @font-face {
    font-family: "莫大毛筆細";
    src: url("Bakudai-Light.woff");
  }
  @font-face {
    font-family: "莫大毛筆粗";
    src: url("Bakudai-Medium.woff");
  }
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    background-image:url("image//網頁背景短.png");
    background-color:rgba(0,0,0,0.7);
  background-blend-mode: multiply;
    /* height:100%; */
    width:100%;
    cursor:url("image/cursor.png"),auto;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  header {
    /* background-color:darkcyan; */
    position: relative;
  }
  .logo a {
    background-image: url("image/title.png");
    background-repeat: no-repeat;
    background-size:contain;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    display: block;
    width: 210px;
    height: 55px;
    cursor: url("image/cursor1.png"),auto;
  }
  .hamburger {
    /* background-color: #000000; */
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
  }
  .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 0px #ffffff, 0px -10px 0px #ffffff;
  }
  .menu {
    /* background-color:yellowgreen; */
    height: 100vh;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 100;
  }
  .menu li a {
    display: block;
    padding: 15px;
    margin: 0px 20px 10px;
    color: #ffffff;
    font-family: "莫大毛筆粗";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    cursor:url("image/cursor1.png"),auto;
    /* border-bottom: 3px solid #ffffff; */
  }
  #menu-switcher {
    display: none;
  }
  #menu-switcher:checked ~ .menu {
    transform: translateX(0%);
  }
  .menu li a:hover{
    transform: translateY(-5px);
    color:  #FFDB99;;
  }
  .menu li a:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #F4EADE;
    transition: .3px;
  } 
  .menu li a:hover:after{
    left:0;
    right:0;
  }
  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
    header {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      transform: translateX(0%);
      height: auto;
      width: auto;
      display: flex;
      position: relative;
      background-color: transparent;
    }
  }

/* --------------------------------------------------------- */

  .all{
      width:85%;
      height:75vh;
      /* padding-top:100px; */
      /* background-color:darkslateblue; */
      margin: 0 auto;
      overflow:hidden;
      display:flex;
  }
  .btns{
      /* position:relative; */
      flex:2;
      /* background-color:rgba(0,0,0,0.3); */
      float:left;
      /* top: 50%; */
      

  }
  .say{
      display:flex;
      flex:8;
      align-items: center;
      /* background-color:gold; */
      background-image:url("image2/文字框.png");
      background-size:1000px 520px;
      background-repeat: no-repeat;
      
     }
  .empty{
    flex:1;
    /* background-color: chocolate; */
  }
  .sayinner{
    display:flex;
    width:90%;
    height:80%;
    margin:0 auto;
    /* background-color:gold; */
    /* background-color:rgba(255, 255, 255, 0.3); */
  }
  .peo{
    flex:3;
     background-image:url("image2/1.png");
     background-size:90%;
     background-repeat: no-repeat;
  }
  .word{
      flex:6;
      /* background-color:darkslategrey; */
      display:flex;
      align-items: center;
      
  }
  .wordinner{
    width:90%;
    margin: 0 auto;
    /* background-color:fuchsia; */
    position:relative;
    
}
h3{
  font-family: "莫大毛筆粗";
  font-size:40px;
  color:white;
}
h2{
  font-family: "莫大毛筆細";
  font-size:18px;
  line-height: 2;
  color:white;
}
  button{
      width:45%;
      height:23%;
      background-color:transparent;
      margin:2%;
      background-size:contain;
      background-repeat: no-repeat;
      /* padding-top:2%; */
      border-style: none;
      cursor:url("image/cursor1.png");
       /* background-color:darkslateblue; */
   
  }
  main{
      padding-top:30px;
  }
  #Di{
    background-image:url("image2/狄仁傑按鈕.png"); 
}
#Fang{
    background-image:url("image2/元芳按鈕.png"); 
}
#Wu{
    background-image:url("image2/武則天按鈕.png"); 
}
#chang{
    background-image:url("image2/張昌宗按鈕.png"); 
}
#Queen{
    background-image:url("image2/楊貴妃按鈕.png"); 
}
#King{
    background-image:url("image2/唐明皇按鈕.png"); 
}
#Wei{
    background-image:url("image2/士大夫按鈕.png"); 
}
#li{
    background-image:url("image2/高力士按鈕.png"); 
}

 
